@page "/deviceadd"
@using ManagementCentral.Contracts.Services
@using ManagementCentral.Models;
@using ManagementCentral.Services;

<form method="post" data-enhance @onsubmit="OnSubmit" @formname="add-device-form">
    
    <AntiforgeryToken />
    
    <div class="row mb-3 input-group">
        <label for="type" class="col-3 form-label">Type: </label>
        <InputText id="type" @bind-Value="@Device.Type" placeholder="Enter type" class="col-8 form-text"></InputText>
    </div>

    <div class="row mb-3 input-group">
        <label for="location" class="col-3 form-label">Location: </label>
        <InputText id="location" @bind-Value="@Device.Location" placeholder="Enter location" class="col-8 form-text"></InputText>
    </div>

    <div class="row mb-3 input-group">
        <label for="lastData" class="col-3 form-label">Data: </label>
        <InputTextArea id="lastData" @bind-Value="@Device.LastData" placeholder="Enter data" class="col-8 form-control" rows="3"></InputTextArea>
    </div>

    <div class="row mb-3 input-group">
        <label for="isActive" class="col-3 form-label">Status: </label>
        <InputRadioGroup id="isActive" @bind-Value="@Device.isActive" placeholder="Status" class="col-8">
            <div class="form-check">
                <InputRadio Value=true class="form-check-input" />
                <label class="form-check-label">Online</label>
            </div>
            <div class="form-check">
                <InputRadio Value=false class="form-check-input" />
                <label class="form-check-label">Offline</label>
            </div>
        </InputRadioGroup>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

@code {
    [SupplyParameterFromForm]
    public Device Device { get; set; }

    [Inject]
    public IDeviceDataService DeviceDataService { get; set; }

    protected override void OnInitialized()
    {
        Device ??= new();
    }

    private void OnSubmit()
    {
        DeviceDataService.AddDevice(Device);
    }
}
