<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ManagementCentral</a>
        <img src="~/img/36179090_8403670.jpg" />
        Image by <a href="https://www.freepik.com/free-vector/flat-design-construction-company-logo_36179090.htm#query=crane%20logo&position=12&from_view=keyword&track=ais_user&uuid=6d1b19cc-8ca7-4355-a24a-fbb3a5b642b8">Freepik</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="devicesoverview">
                Devices
            </NavLink>
        </div>
    </nav>
</div>

